# ======================================
# Python
# ======================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# ======================================
# Django
# ======================================
db.sqlite3
*.pot
/static
/staticfiles
/media
/cache_files/

# ======================================
# Environment / virtualenv
# ======================================
.env
env/
venv/

# ======================================
# Logs
# ======================================
*.log

# ======================================
# VSCode
# ======================================
.vscode/

# ======================================
# Docker
# ======================================
.dockerignore
Dockerfile
docker-compose.yml
